{% set command_collector = profile.collectors.command %}
{% set exit_code = command_collector.exitcode %}
{% set css_class = exit_code is null or exit_code > 0 ? 'status-error' : 'status-success' %}

<div class="status {{ css_class }}">
    <div class="container">
        <h2 class="break-long-words">
            {{ command_collector.commandFullRepresentation }}
        </h2>

        <dl class="metadata">
            <dt>Exit Code</dt>
            <dd>{{ exit_code is null ? 'n/a' : exit_code > 0 ? 'Failure (%d)'|format(exit_code) : 'Success (0)' }}</dd>

            <dt>Application</dt>
            <dd>{{ command_collector.applicationName }}</dd>

            <dt>Version</dt>
            <dd>{{ command_collector.applicationVersion }}</dd>

            <dt>Profiled on</dt>
            <dd><time datetime="{{ profile.time|date('c') }}">{{ profile.time|date('r') }}</time></dd>

            <dt>Token</dt>
            <dd>{{ profile.token }}</dd>
        </dl>
    </div>
</div>
